.App {
  font-family: sans-serif;
  text-align: center;
}

.progress-bar-container {
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
}

.progress-bar-filled {
  background-color: green;
  color: white;
  margin: 1.5px;
  border-radius: 10px;
  text-align: right;
  padding: 0px 10px;
  transition: 0.5s ease-in;
}
